defaults
  timeout client 10s
  timeout connect 5s
  timeout server 10s 
  timeout http-request 10s

frontend http80
	bind *:80
	acl grafana path_beg -i /graf
  	acl prometheus path_beg -i /prom

	use_backend grafana_backend if grafana
	use_backend prometheus_backend if prometheus

	timeout client 60s
	
backend grafana_backend
	server grafanahp 192.168.56.16:3000

backend prometheus_backend
	server prometheushp 192.168.56.16:9090
