# Use in-memory storage for Vault (not persisted)
storage "inmem" {}

# TCP listener configuration for Vault
listener "tcp" {
  address = "0.0.0.0:8200"
  tls_disable = 1
}

# Vault UI and API address configuration
ui = true
